.line-2 {
    line-height: 2em;
}
.logo-info {
    width: 100px;
    height: 100px;
}

@media screen and (max-width: 1023px) {
    .grid-one-one-one {
        grid-template-columns: 1fr;
    }
    .list-info {
        display: none;
    }
}
