.person-pic {
    width: 175px;
    height: 175px;
    border-radius: 50%;
    overflow: hidden;
}
.bullet {
    width: 7px;
    height: 7px;
    border-radius: 5px;
    border: 1px solid black;
}
.hide {
    display: none;
}
.slide-hide {
    animation: hide 1s forwards;
}
.slide-show {
    animation: show 2500ms linear forwards;
}

@keyframes show {
    0% {
        display: block;
        opacity: 0;
    }
    100% {
        display: block;
        opacity: 1;
    }
}
